*{
    margin: 0;
    padding: 0;
}

.heading{
    margin: 20px;
    padding: 20px;
}
.t-center{
    text-align: center;
}

.brown{
    color: brown;
}

.underline{
    text-decoration: underline rgb(122, 78, 48);
}

.box{
    display: inline-block;
    border: 2px solid rgb(93, 93, 219);
    width: 176px;
    height: 40px;
    margin: 10px;
    padding: 10px;
}

.box2{
    display: inline-block;
    border: 2px solid rgb(93, 93, 219);
    width: 176px;
    height: 40px;
    margin: 100px;
    padding: 10px;
}
.box3{
    background-color: rgb(216, 255, 176);
    border: 2px solid rgb(93, 93, 219);
    width: 80vw;
    height: 40px;
    margin: 20px auto;
    padding: 10px;
    overflow: auto;
}

.box4{
    border: 2px solid rgb(93, 93, 219);
    /* width: 170px; */
    height: 40px;
    margin: 30px;
    padding: 10px;
}

.box5{
    /* display: none; */
    visibility: hidden;
}